* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-image: url(../images/background\ image.jpg);
}

/*Barra de Menu*/

.navigation_menu nav{
    display: flex;
    justify-content: space-around;
}

.navigation_menu{
    width: 1200px;
    margin: 30px auto;
    background-color: rgb(15, 15, 15, 0.85);
}

.navigation_menu ul{
    list-style: none;
}

/*Menu*/

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    color: lightgrey;
    transition: all .3s;
}

/*Submenu*/

.submenu {
    position: absolute;
    background: rgb(15, 15, 15, 0.85);
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.submenu_2 {
    position: absolute;
    background: rgb(15, 15, 15, 0.85);
    width: 140%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu_2 li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu_2{
    visibility: visible;
    opacity: 1;
}

.inputs{
    width: 100%;
    background: rgb(15, 15, 15, 0.85);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.inputs_2{
    width: 200px;
    background: rgb(15, 15, 15, 0.85);
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.inputs_3{
    width: 600px;
    background: transparent;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.time{
    width: 600px;
    background: transparent;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 4px;
}

label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.buttons{
    width: 450px;
    background: #0E4B9F;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 14px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons_table{
    width: 100%;
    background: #0E4B9F;
    padding: 8px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.settings {
    width: 450px;
    background-color: rgb(15, 15, 15, 0.85);
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    box-shadow:  7px 13px 37px black;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form_register h3 {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.settings h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.style_table{
    background-color: rgb(15, 15, 15, 0.85);
    text-align: left;
    width: 1000px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;
    margin: 20px auto;
    margin-top: 10px;
}

th, td{
    padding: 20px;
}

.style_table a{
    color: white;
    text-decoration: underline;
}

tr:hover td{
    background-color: rgb(15, 15, 15, 0.85);
    color: white;
}

thead{
    background-color: rgb(15, 15, 15, 0.85);
    border-bottom: solid 5px white;
    color: white;
}

.busqueda {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}

.welcome {
    margin: 0 auto;
    text-align: center;
    width: 450px;
    height: 50px;
    background-color: rgb(15, 15, 15, 0.85);
}

.welcome h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

fieldset {
    width:800px;
    height:80px;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
    background-color: rgb(15, 15, 15, 0.85);
}

.create_ride_style {
    width:800px;
    height:620px;
    margin-top: 120px;
    text-align: left;
    overflow: hidden;
    background-color: rgb(15, 15, 15, 0.85);
}

.modify_ride_style {
    width:800px;
    height:620px;
    margin-top: auto;
    text-align: left;
    overflow: hidden;
    background-color: rgb(15, 15, 15, 0.85);
    margin: 2px auto;
}


.create_ride_style h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: center;
    padding: 15px;
    color: white;
}

.modify_ride_style h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: center;
    padding: 15px;
    color: white;
}

.create_ride_style label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: center;
    padding: 0px;
    color: white;
    display: block;
}

.modify_ride_style label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: center;
    padding: 0px;
    color: white;
    display: block;
}

.checkbox {
    width:600px;
    height:auto;
    margin: 0px auto;
    text-align: left;
    overflow: hidden;
    background-color: transparent;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label{
    display: inline-block;
    margin: 0.2em;
    font-size: 14.5px;
}

input[type=checkbox] + label::before {
    content: "\2714";
    border: 0.1em solid whitesmoke;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
}

input[type=checkbox]:checked + label:before {
    background-color: rgb(15, 15, 15, 0.85);
    border-color: rgb(15, 15, 15, 0.85);
    color: white;
}

.modify_ride_style input[type=button] {
    width: 600px;
    background: #0E4B9F;
    padding: 8px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2em;
}

.create_ride_style input[type=button] {
    width: 600px;
    background: #0E4B9F;
    padding: 8px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2em;
}






