* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container-form {
    width: 50%;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.container-form.sign-in {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #0E4B9F;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: white;
}

.message button:hover {
    background-color: #093470;
}

.form {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(15, 15, 15, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.icon {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    border-radius: 70%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.form input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.form input[type="button"]{
    width: 60%;
    margin: auto;
    border: solid thin #0E4B9F;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #0E4B9F;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: white;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}


